@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
html{
    scroll-behavior : smooth;
    scroll-padding-top: 20px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: gray;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}
ul{
    list-style: none;
}


/* container */
.container{
    width: 100%;
    height: auto;
    background-color: #dbd9d9;
}

/* header */
.header{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active{
    color: #000;
}
.enable{
    display: none;
}

.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-left li, .nav-right li{
    padding: 0px 10px;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    margin: 0px 20px;
    cursor: pointer;
}

/* responsive menu */
.nav-res{
    width: 100%;
    display: none;
    flex-direction: column;
}
.logo-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px;
}
.bar-icon{
    cursor: pointer;
    font-size: 20px;
}
.menu-res{
    width: 95%;
    height: auto;
    position: absolute;
    top: 8vh;
    z-index: 100;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    background-color: #fff;
    transition: all 10s;
}
.menu-resp{
    display: flex;
}
.menu-res li{
    padding: 7px 0px;
}
/* body */
.body{
    width: 95%;
    height: 86vh;
    margin: auto;
    overflow-y: scroll;
    background-color: #ffffff;
}
.body::-webkit-scrollbar{
    display: none;
}
/* home page */
.home{
    width: 100%;
    height: 100%;
    background-image: url("../image/background/hero-bg-1.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    padding: 0px 10px;
}
.home h1{
    font-size: 100px;
    text-transform: uppercase;
    color: #ffffff;
}
.to-top{
    position: absolute;
    bottom: 8vh;
    right: 8vh;
    cursor: pointer;
}
.to-top i{
    z-index: 1;
    padding: 20px;
    background-color: rgb(43, 40, 40);
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

/* about page */
.about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 10px;
    margin-bottom: 40px;
}
.about .contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contents .title{
    font-size: 20px;
    text-transform: uppercase;
    color: gray;
    margin-bottom: 20px;
    font-weight: 900;
    padding: 40px 0px;
}
.contents .h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    /* margin-bottom: 20px; */
    padding: 40px 0px;
    font-weight: 900;
}
.about .content{
    width: 70%;
    height: 40vh;
    padding: 40px 0px;
    margin-bottom: 40px;
}
.about .content iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.contents .text{
    width: 70%;
    padding: 0px 50px;
    text-align: center;
}
.contents .text h4{
    font-size: 20px;
    color: gray;
}

/* about photographer */
.photographer{
    width: 100%;
}
.ph-title{
    text-align: center;
    margin: 40px 0px;
}
.ph-title h3{
    color: gray;
    opacity: .5;
}

.photos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.photo{
    width: 100%;
    height: 100%;
    /* width: 32%;
    height: 70vh; */
    /* width: 500px;
    height: 650px; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
}

.go-icon{
    margin: -50px 15px;
    position: absolute;
    padding: 18px 20px;
    border: 1px solid #000;
    transition: all .3s;
    bottom: 10px;
    z-index: 1;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
}
.left{
    right: 50%;
}
.go-icon:hover{
    opacity: .8;
}
/* .button i:hover{
    background-color: #6bc513;
    border-color: #6bc513;
    color: #fff;
} */

.photo .img{
    width: 100%;
    height: 80%;
    margin-bottom: 20px;
}
.photo .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.descript{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.descript h4{
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
}
.descript .job{
    color: gray;
}

/* button */
.btn{
    display: flex;
}
.btn-left i, .btn-right i{
    background-color: #000;
    padding: 17px 20px;
    color: #fff;
    border-radius: 50%;
    margin: 0px 8px;
    cursor: pointer;
}
.btn-left i:hover{
    opacity: .8;
}
.btn-right i:hover{
    opacity: .8;
}

/* work */
.work{
    width: 100%;
    height: auto;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    margin-bottom: 60px;
}
.work-contents{
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
}
.work-contents h4{
    text-transform: uppercase;
    color: #000;
    padding: 20px 0px 40px 0px;
}
.work-contents h1{
    font-size: 70px;
    text-transform: uppercase;
    font-weight: bolder;
}

/* work images */
.work-all-img{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
                        "img-1 img-2 img-3 img-3 img-4"
                        "img-5 img-5 img-6 img-7 img-8"
}
.work-images{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: aquamarine;
}
.work-image{
    width: 100%;
    height: 100%;
}
.work-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.work-content{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: #ffffff;
    opacity: .8;
    cursor: pointer;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    transition: all 8s linear;
}
.work-content h2{
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}
.work-content h5{
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.work-images:hover .work-content{
    display: flex;
}
.image-1{
    grid-area: img-1;
}
.image-2{
    grid-area: img-2;
}
.image-3{
    grid-area: img-3;
}
.image-4{
    grid-area: img-4;
}
.image-5{
    grid-area: img-5;
}
.image-6{
    grid-area: img-6;
}
.image-7{
    grid-area: img-7;
}
.image-8{
    grid-area: img-8;
}


/* Services */
.services{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.service-content{
    padding: 40px;
}
.service-content h4{
    font-size: 15px;
    padding: 60px 0px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
}
.service-content h1{
    font-size: 60px;
    padding: 60px 0px;
    text-align: center;
    text-transform: uppercase;
}

/* service-description */
.service-description{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.description-team{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.revers{
    flex-direction: row-reverse;
}
.team-descript{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.team-descript h4{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.team-descript h1{
    text-align: center;
    padding: 60px 0px;
    font-weight: bold;
    font-size: 60px;
    text-transform: uppercase;
}
.team-descript p{
    width: 70%;
    letter-spacing: 1px;
    margin: 0px auto;
    color: gray;
}

.team-image{
    width: 50%;
    height: 100%;
}
.team-image img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
}
.service-detail{
    padding: 40px 0px;
    width: 45%;
    margin-bottom: 100px;
}
.service-detail p{
    color: gray;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.service-detail h3{
    text-transform: uppercase;
    text-align: center;
    color: gray;
    opacity: .9;
}

/* customer */
.customers{
    width: 100%;
    height: auto;
    background-image: url('../image/background/parallax-facts-bg.jpg');
    background-size: cover;
    background-position: center center;
    padding: 80px 0px;
    margin-bottom: 40px;
    background-color: khaki;
}
.customer-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.customer-title h4{
    color: gray;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.customer-title h1{
    font-size: 60px;
    text-transform: uppercase;
}
.customer-contents{
    /* width: 100%; */
    padding: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cus-1, .cus-2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cus-client{
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cus-num{
    font-size: 18px;
    font-weight: bold;
}
.cus-num .h1{
    font-size: 26px;
    font-weight: bold;
} 
.cus-item{
    padding: 15px 0px;
    font-size: 30px;
}
.cus-name p{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

/* news */
.news{
    width: 100%;
    height: auto;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
.new-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
}
.new-title h4{
    text-transform: uppercase;
    padding: 60px 0px;
    font-size: 14px;
    font-weight: bold;
}
.new-title h1{
    text-transform: uppercase;
    padding: 60px 0px;
    font-size: 60px;
    font-weight: bold;
}

.new-contents{
    width: 100%;
    height: 600px;
    display: flex;
    padding: 40px 0px;
}
.content-detail{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-detail .con-date{
    padding : 30px 0px;
}
.content-detail .con-date h5 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.content-detail .con-title{
    padding : 30px 0px;
}
.content-detail .con-title h1{
    font-size: 60px;
    text-transform: uppercase;
}
.content-detail .con-p{
    width: 75%;
    margin: 0px auto;
    padding : 30px 0px;
}
.content-detail .con-p p{
    color: gray;
    font-size: 18px;
    letter-spacing: 1px;
}
.content-detail .con-read{
    padding : 30px 0px;
}
.content-detail .con-read p{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.content-image{
    width: 50%;
    height: 100%;
}
.content-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

/* image-choose */
.image-choose{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 40px;
}

.image-content{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.second-img{
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 10px;
    align-self: center; 
}
.second-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* .second-img1{
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 10px;
    align-self: center; 
    background-image: url('../image/feature/featured-thumb-1.jpg');
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
}
.second-img2{
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 10px;
    align-self: center; 
    background-image: url('../image/feature/featured-thumb-2.jpg');
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
}
.second-img3{
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 10px;
    align-self: center; 
    background-image: url('../image/feature/featured-thumb-3.jpg');
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
}
.second-img4{
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 10px;
    align-self: center; 
    background-image: url('../image/feature/featured-thumb-4.jpg');
    background-position: center center;
    background-size: contain;
    border-radius: 50%;
} */


.second-des{
    margin-left: 10px;
}
.second-des .name{
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}
.second-des .job{
    font-size: 14px;
}

/* button choose */
.btn{
    padding-top: 20px;
    display: flex;
}
.btn p{
    margin: 0px 10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
}

/* contacts */
.contacts{
    width: 100%;
    padding: 40px 0px;
    height: auto;
    display: flex;
    flex-direction: column;
}
.contact-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}
.contact-title h4{
    padding: 30px 0px 50px 0px;
    text-align: center;
    text-transform: uppercase;
}
.contact-title h1{
    padding: 50px 0px 40px 0px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}
.contact-detail{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px 70px 0px;
    margin-bottom: 60px;
}
.contact-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-items .con-icon ion-icon{
    font-size: 40px;
    margin-bottom: 15px;
}
.contact-items .con-detail{
    text-align: center;
    cursor: pointer;
}
.contact-items .con-detail p{
    font-size: 16px;
    font-weight: bold;
    color: gray;
}
.contact-items .con-detail .gmail{
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

/* footer */
.footer{
    width: 97%;
    height: 6vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.footer p{
    font-size: 12px;
}
